*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top_banner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432)), url("../images/web5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 50px;
    }
}

.products_images{
    img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
}



.footer_Banner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432)), url("../images/footer_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .products_images{
        img{
            height: 100%;
        }
    }
}